#<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Stripe Identity Sample</title>
    <meta name="description" content="A demo of Stripe Identity" />
	  <!-- Добавление дополнительного статического CSS файла -->
	    <!-- Добавление дополнительного статического CSS файла -->
  {% load static %}
  {% csrf_token %} 
	<link rel="stylesheet" href="{% static 'css/global.css' %}">
	<link rel="stylesheet" href="{% static 'css/normalize.css' %}">
	
    <!--<link rel="stylesheet" href="static/normalize.css" /> -->
    <!-- <link rel="stylesheet" href="static/global.css" /> -->
    <script src="https://js.stripe.com/v3/"></script> <!--Verify your identity   Add Stripe.js to your page -->
  </head>
  <body>
    <div class="sr-root">
      <div class="sr-main">
		
        <section class="container">
          <div>
			<!--Verify your identity  -->
            <h1>Verify your identity to book</h1>
            <h4>Get ready to take a photo of your ID and a selfie   { {static }}</h4>

            <button id="verify-button">Verify me</button>{% csrf_token %} 
          </div>
        </section>
			<div>
			
			</div>
        <section class="container">
			
            <!-- Use action="/create-checkout-session.php" if your server is PHP based. -->
            <form action="/shop/create-checkout-session" method="POST">{% csrf_token %} 
              <button  id="submit-button" type="submit">Checkout</button>
            </form>
        </section>
        
      </div>
	  	<img alt height="256" src="{% static 'pod.jpeg' %}" width="256" >
    </div>
	</body>
    

    <script type="text/javascript">
	  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
      document.addEventListener('DOMContentLoaded', async () => {

        // Set your publishable key: remember to change this to your live publishable key in production
        // Find your keys here: https://dashboard.stripe.com/apikeys
        const {publishableKey} = await fetch('/shop/config').then(r=>r.json());
		console.log("вывод verify-button publishableKey "+publishableKey);
        const stripe = Stripe(publishableKey); // инициализ Strip
		//var $crf_token = $('[name="csrfmiddlewaretoken"]').attr('value'); 

        var verifyButton = document.getElementById('verify-button');
		console.log("вывод verify-button"); 
        verifyButton.addEventListener('click', async () => {
          // Get the VerificationSession client secret using the server-side
          // endpoint you created in step 3.
		  console.log("click verify-button"); 
          try {

            // Create the VerificationSession on the server.
            const {client_secret} = await fetch('/shop/create-verification-session', {headers: {'X-CSRFToken': csrftoken}}, {
              method: 'POST',
			  }).then(r => r.json());
			
            // Open the modal on the client.
            const {error} = await stripe.verifyIdentity(client_secret);
            if(!error) {
              window.location.href = '/shop/submitted.html';
            } else {
              alert(error.message);
            }
          } catch(e) {
            alert(e.message);
          }
        })

      })
    </script>

</html>