<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Submitted</title>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/global.css" />
  </head>
  <body>
    <div class="sr-root">
      <div class="sr-main">
        <section class="container">
          <div>
            <h1>Thanks for submitting your identity document.</h1>
            <p>Покупка прошла успешно.</p>

            <a href="/shop/">Вернуться к покупкам </a>
          </div>
        </section>
      </div>
    </div>
   </body>
</html>