{% extends "base_generic.html" %}

{% block content %}

		{% load static %}
		{% csrf_token %} 
		 
		<link rel="stylesheet" href="{% static 'css/global.css' %}">
		<link rel="stylesheet" href="{% static 'css/normalize.css' %}">
		<!-- <script src="https://js.stripe.com/v3/"></script> <!--Verify your identity   Add Stripe.js to your page -->
	
	 <ul>
		<h1>buy item (Описание товара) : {{ item.name }}</h1>

		<p><strong>Name:</strong> {{ item.name }}</p> <!-- author detail link not yet defined -->
		<p><strong>description:</strong> {{  item.description }}</p>
		<p><strong>Price:</strong> {{ item.price }} $</p>
		<p><strong>id:</strong> {{ item.id }} </p>
	 
	    </ul>
		 <section class="container">
          <div>
			<!--Verify your identity  -->
            <h1> </h1>
            <h4>  </h4>

              <form action="/shop/create-checkout-session-buy/id?{{item.id}}" method="POST">{% csrf_token %} 
			  <i id={{item.id}}>
              <button  type="submit">Buy</button>
            </form>
          </div>
		  
        </section>
		
		 <section class="container">
          <div>
			<!--Verify your identity  -->
            <h1> </h1>
            <h4>получение session_id и далее  с помощью JS библиотеки Stripe происходить редирект на Checkout форму stripe.redirectToCheckout(sessionId=session_id)</h4>

            <button id="checkout-button">GET /item/ id</button>{% csrf_token %} 
          </div>
        </section>
			<div>
			
			</div>
        <section class="container">
		

	   <script type="text/javascript">	
		// Call your backend to create the Checkout Session
		
				const {publishableKey} =  fetch('/shop/config').then(r=>r.json());
				console.log("вывод verify-button publishableKey "+publishableKey);
				const stripe = Stripe(publishableKey); // инициализ Strip
				//var $crf_token = $('[name="csrfmiddlewaretoken"]').attr('value'); 
				
				var verifyButton = document.getElementById('checkout-button');
				const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
				verifyButton.addEventListener('click', async () => {
						 console.log("click verify-button");
						fetch('/shop/create-checkout-session', {
						  headers: {'X-CSRFToken': csrftoken}},{
						  method: 'POST',
						})
						.then(function(response) {
						  return response.json();
						})
						.then(function(session) {
						  return stripe.redirectToCheckout({ sessionId: session.id });
						})
						.then(function(result) {
						  // If `redirectToCheckout` fails due to a browser or network
						  // error, you should display the localized error message to your
						  // customer using `error.message`.
						  if (result.error) {
							alert(result.error.message);
						  }
						});
					});
      </script>


		
		
{% endblock %}
